@import "../../Styles/scss/animation";
@import "../../Styles/scss/breakpoint";
@import "../../Styles/scss/color";
@import "../../Styles/scss/fonts";
@import "../../Styles/scss/mixins";
@import "../../Styles/scss/variables";

.logo_wrapper {
  height: 100vh;
  width: 100vw;
  background-color: $main-color;
  align-items: center;
  justify-content: center;
  @include flex(center, center);
  & .screen {
    height: 100%;
    @include flex(center, center);
    overflow: hidden;
    border-radius: 50%;
    animation: grow 1s forwards;
    background: url("/Assets/Background/overlay_stars.svg");
  }

  & #logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
