@import "../../Styles/scss/animation";
@import "../../Styles/scss/breakpoint";
@import "../../Styles/scss/color";
@import "../../Styles/scss/fonts";
@import "../../Styles/scss/mixins";
@import "../../Styles/scss/variables";

.certificates {
  .css-lmrzma {
    margin-top: 4rem;

    .slick-slider {
      .slick-dots {
        .slick-active {
          button {
            background-color: $main-color !important;
          }
        }
        li {
          &:hover {
            button {
              background-color: lighten($main-color, 60) !important;
            }
          }
          button {
            width: 12px;
            height: 12px;
            background-color: #ddd !important;
            border-radius: 50%;
            &::before {
              display: none;
            }
          }
        }
      }
      .slick-arrow {
        &::before {
          color: $main-color;
          opacity: 1;
        }
      }
    }
  }
}
