hr {
  border: none;
  border-bottom: 1px solid #b6cefc;
  margin: 0.5rem 0;
  opacity: 0.1;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  margin-top: 0.3rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.sidenav_container {
  background-color: #040b14;
  color: #fff;
  height: 100vh;
  left: 0;
  padding: 1.5rem 1.5rem 2rem;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  width: 5.6rem;
  z-index: 9998;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.nav_brand {
  grid-column-gap: 1rem;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-gap: 0.4rem;
  column-gap: 0.4rem;
  display: grid;
  font-weight: 600;
  grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
  grid-template-columns: max-content max-content 1fr;
  padding: 0.75rem 0;
  place-items: center;
}

.nav_brand .nav_icon_menu {
  align-content: center;
  border-radius: 20%;
  cursor: pointer;
  display: grid;
  height: 2.5rem;
  justify-content: center;
  place-items: center;
  transition: 0.1s ease;
  width: 2.5rem;
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_icon:hover {
  background-color: #3f82d9;
}

.nav_brand_logo {
  cursor: pointer;
}

.nav_link {
  grid-column-gap: 1rem;
  color: #fff;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
  grid-template-columns: max-content max-content 1fr;
  padding: 0.75rem;
  place-items: center;
}

.nav_item {
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.05s ease;
}

.nav_item .active {
  background-color: #3f82d9;
  border-radius: 0.5rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.nav_item:hover {
  background-color: #3f82d9;
}

#ham1 {
  background: currentcolor;
  height: 2px;
  left: 14px;
  position: absolute;
  border-radius: 9em 0px 0px 9em;
  width: 10px;
  top: 17px;
  transition: 0.4s ease-in;
  transform: none;
}

#ham2 {
  background: currentcolor;
  height: 2px;
  left: 50%;
  position: absolute;
  border-radius: 0px 9em 9em 0px;
  width: 10px;
  top: 17px;
  transition: 0.4s ease-in;
  transform: none;
}

#ham3 {
  background: currentcolor;
  height: 2px;
  left: 14px;
  position: absolute;
  border-radius: 9em 0px 0px 9em;
  width: 10px;
  top: 23px;
  transition: 0.4s ease-in;
  opacity: 1;
  transform: none;
}

#ham4 {
  background: currentcolor;
  height: 2px;
  left: 50%;
  position: absolute;
  border-radius: 0px 9em 9em 0px;
  width: 10px;
  top: 23px;
  transition: 0.4s ease-in;
  opacity: 1;
  transform: none;
}

#ham5 {
  background: currentcolor;
  height: 2px;
  left: 14px;
  position: absolute;
  border-radius: 9em 0px 0px 9em;
  width: 10px;
  top: 29px;
  transition: 0.4s ease-in;
  transform: none;
}

#ham6 {
  background: currentcolor;
  height: 2px;
  left: 50%;
  position: absolute;
  border-radius: 0px 9em 9em 0px;
  width: 10px;
  top: 29px;
  transition: 0.4s ease-in;
  transform: none;
}

.hamburger-react {
  cursor: pointer;
  height: 48px;
  position: relative;
  transition: 0.4s ease-in;
  user-select: none;
  width: 48px;
  outline: none;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.nav_list {
  flex: 1 1;
}

.nav_user {
  grid-column-gap: 1rem;
  border-radius: 2rem;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-gap: 0.6rem;
  column-gap: 0.6rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
  grid-template-columns: max-content max-content 1fr;
  margin-bottom: 4rem;
  padding: 0.2rem 0;
  place-items: center;
}

.nav_user_image {
  border-radius: 100%;
  height: 2.5rem;
  overflow: hidden;
  width: 2.5rem;
  object-fit: cover;
}

.nav_user_image img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.nav_user_info {
  line-height: 1.2rem;
}

.nav_user_info_name {
  font-size: 1rem;
}

.nav_user_info_email {
  color: #b6cefc;
  font-size: 0.7rem;
  font-weight: 300;
}
