@import "../../styles/scss/animation";
@import "../../styles/scss/breakpoint";
@import "../../styles/scss/color";
@import "../../styles/scss/fonts";
@import "../../styles/scss/mixins";
@import "../../styles/scss/variables";

.social_media_div {
  font-size: 1.5em;
  @include small_tablet {
    font-size: 1.3rem;
    margin-top: 20px;
  }
}
