@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProtestRevolution";
  src: local("ProtestRevolution-Regular"),
    url("./assets/Fonts/ProtestRevolution-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Agustina";
  src: local("Agustina"), url("./assets/Fonts/Agustina.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("./assets/Fonts/Montserrat-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  color: slategray;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 19px/23px Montserrat, sans-serif;
  margin: 0;
}
