@import "../../Styles/scss/animation";
@import "../../Styles/scss/breakpoint";
@import "../../Styles/scss/color";
@import "../../Styles/scss/fonts";
@import "../../Styles/scss/mixins";
@import "../../Styles/scss/variables";

.back_to_top {
  position: fixed !important;
  right: 0;
  margin: 1rem;
  margin-bottom: 2rem;
  bottom: 0;
  width: 3rem !important;
  height: 3rem !important;
  z-index: 1;
  cursor: pointer;
  transition: all 0.8s;
}
